<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Hello World, welcome to Podmie.fm. To get started on Podmie, 
        please verify your email address by clicking here : 
        <a href="https://podmie.fm/verify_email?code=<%= data.code %>">https://podmie.fm/verify_email?code=<%= data.code %></a> 
        </p>
        <p>
            Once you have confirmed that <a href=""><%= data.email %></a> is your email address, 
            you'll be able to publish episodes and distribute your podcast.
        </p>
        <p>
            Need help? Reach out to us at <a href="">help.podmie.fm</a>
        </p>
    </div>
</body>
</html>